# Local specifics
.idea/
.vscode/
/bin/*
src/go.sum
go.sum
source.env
test_folder

# osx artifacts
.DS_Store
gen
reports

# Builds
build/*
__debug_bin

# Binaries
*.exe
*.dll
*.so
*.dylib
*.zip

# Output of the go coverage tool and logs
*.out
*.xml
*.log
doc/*.html